:root {
  /* fonts */
  --hauss: "ALS Hauss", sans-serif;
  --navigo: "Navigo", sans-serif;

  /* colors */
  --gray: #404247;
  --black: #2B2D33;
  --ocean: #45A3B2;
  --ocean-bright: #00A5BC;
  --ocean-light: #E5F0F2;
  --yellow: #FEE600;

  /* common variables */
  --sidebar-width: 191px;
  --main-offset: 95px;
  --sidebar-left-width: 294px;
}

[class*=state-] {
  overflow: hidden;
}

::selection {
  background-color: var(--ocean);
  color: #fff;
}

a {
  color: var(--ocean)
}

a:hover {
  color: var(--ocean)
}

img {
  max-width: 100%;
}

:focus {
  outline: none !important
}

body {
  font-family: var(--hauss);
  font-size: 16px;

  background-color: white;
  color: var(--black);
}

.page-body {
  margin-top: 24px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;

  max-width: 1156px;

  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.side-logo {
  display: flex;
  padding-top: 8px;
  padding-bottom: 28px;
  margin-bottom: 25px;

  position: relative;
}

.side-logo::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 104px;
  height: 1px;

  background-color: #D5D5D6;
}

.side-nav {
  margin: 0 0 16px;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-nav-item {
  display: flex;
  margin-bottom: 10px;
  padding-left: 0;

  transition: all .3s ease;
}

.side-nav-item:hover {
  padding-left: 5px;
}

.side-nav-link {
  color: var(--black);
  font-weight: normal;
  position: relative;
}

.side-nav-main .side-nav-link {
  font-weight: 500;
}

.side-nav-link::before {
  position: absolute;
  content: '';
  top: -4px;
  right: -8px;
  bottom: -4px;
  left: -8px;
  border-radius: 8px;

  background-color: var(--ocean-light);
  pointer-events: none;

  z-index: -1;

  transition: all .15s ease;
  opacity: 0;
}

.side-nav-link:hover::before,
.side-nav-link.active::before {
  opacity: 1;
}

.side-nav-link:hover {
  text-decoration: none;
  color: var(--black);
}

.side-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 141px;
}

.side-socials-item {
  opacity: 1;
  transition: all .3s ease;
}

.side-socials-item:hover {
  opacity: 0.7;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.side,
.main,
.side-right {
  padding-left: 15px;
  padding-right: 15px;
}

.side {
  flex: 0 0 var(--sidebar-width);
  max-width: var(--sidebar-width);

  position: relative;
}

.side-inner {
  position: sticky;
  top: 15px;
}

.main {
  flex: 0 0 calc(100% - var(--sidebar-width) - var(--main-offset));
  max-width: calc(100% - var(--sidebar-width) - var(--main-offset));
}

.search-btn {
  display: flex;
  position: absolute;
  top: -14px;
  right: 0;
  padding: 14px;

  transition: all .3s ease;
  opacity: 1;
}

.search-btn:hover {
  opacity: 0.7;
}

.main-blog-posts {
  columns: 3;
  column-gap: 24px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  break-inside: avoid;
  
  margin-bottom: 24px;
}

.blog-post-image {
  padding-bottom: 54.55%;
  border-radius: 8px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-post-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: var(--black)
}

.blog-post-title:hover {
  text-decoration: none;
  color: var(--black)
}

.main-pinned-post {
  text-align: center;
  margin-bottom: 41px;
}

.main-pinned-post .blog-post-image {
  padding-bottom: 238px;
}

.blog-post-categories {
  margin-top: 7px;
  margin-bottom: 4px;
}

.blog-post-cat {
  margin-right: 13px;
  color: var(--ocean);
}

.blog-post-cat:hover {
  color: var(--ocean);
}

.offer-post {
  
}

.offer-post-inner {
  height: 228px;
  border-radius: 8px;
  background-color: #404247;
  margin-bottom: 24px;

  padding: 16px;
}

.offer-post-title {
  font-family: var(--navigo);
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 1.25;
  margin-top: 12px;
  margin-bottom: 19px;
}

.offer-post-input {
  border: 1px solid #AAABAD;
  padding: 10px 11px 9px;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  color: white;
}

.offer-post-input::placeholder {
  color: #AAABAD;
}

.button-default {
  border: none;
  padding: 10px 11px 9px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: var(--yellow);
}

.main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-loading-icon {
  animation: wheel 2s linear 0s infinite forwards;
}

@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to   {
    transform: rotate(360deg);
  }
}

.page-footer {
  margin-top: 45px;
  padding-top: 41px;
  padding-bottom: 40px;
  background-color: var(--gray);
  color: white;
}

.side-logo-footer {
  display: flex;
  padding-top: 7px;
}

.main-footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.main-footer-link {
  color: white;
  font-weight: 500;
  margin-right: 17px;
}

.main-footer-link:hover {
  color: white;
}

.main-footer-pages .main-footer-link {
  font-weight: normal;
}

.main-footer-copyright {
  color: #808185;
  margin-top: 23px;
}

.breadcrumbs {
  margin: 0 0 31px 0;
  padding: 0;
  list-style-type: none;
  /* display: flex; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  color: var(--ocean);
  position: relative;

  margin-right: 49px;
}

.breadcrumbs-link:hover {
  color: var(--ocean)
}

.breadcrumbs-link::before {
  position: absolute;
  content: '';

  font-family: Arial, sans-serif;

  width: 16px;
  height: 24px;

  right: -32px;
  top: 1px;

  background-image: url(../images/br-ar.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item:last-child .breadcrumbs-link::before {
  opacity: 0;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  margin-right: 0;
  color: var(--black);
  pointer-events: none;
}

.section-heading {
  margin: 0 0 19px;
  font-size: 32px;
  font-weight: bold;
  font-family: var(--navigo);
}

.section-subheading {
  font-size: 20px;
  margin-bottom: 15px;
}

.main-middle {
  flex: 0 0 calc(100% - var(--sidebar-width) - var(--main-offset) - var(--sidebar-left-width));
    max-width: calc(100% - var(--sidebar-width) - var(--main-offset) - var(--sidebar-left-width));
}

.side-right {
  flex: 0 0 var(--sidebar-left-width);
  max-width: var(--sidebar-left-width);
}

.section-content {
  margin-top: 25px;
  margin-bottom: 23px;
  line-height: 1.67;
}

.main-offer-post .offer-post-inner {
  height: auto;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.authtor-list {
  margin-top: 49px;
  margin-bottom: 49px;
}

.authtor-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.authtor-photo {
  --box-size: 80px;

  flex: 0 0 var(--box-size);
  max-width: var(--box-size);
  height: var(--box-size);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: calc(var(--box-size) / 2);
}

.authtor-info {
  display: flex;
  flex-direction: column;

  padding-left: 31px;
}

.authtor-name {
  font-weight: 500;
  color: var(--ocean)
}

.authtor-name:hover {
  color: var(--ocean)
}

.authtor-spec {
  color: var(--black)
}

.authtor-spec:hover {
  color: var(--black)
}

.authtor-more {
  color: var(--black)
}

.authtor-more:hover {
  color: var(--black)
}

.side-posts {
  margin-bottom: 81px;
}

.authtor-profile {
  margin-top: 42px;
}

.authtor-profile .authtor-photo {
  --box-size: 120px;
}

.authtor-profile .authtor-name {
  font-size: 32px;
  font-weight: bold;
}

.authtor-profile .authtor-spec {
  font-size: 20px;
}

.authtor-profile .authtor-item {
  align-items: flex-start;
  margin-bottom: 41px;
}

.authtor-profile .authtor-info {
  line-height: 1.4;
  height: 100%;
}

.authtor-profile .authtor-name {
  color: var(--black);
}

.authtor-socials {
  margin-top: 31px;
}

.authtor-socials-item {
  margin-right: 32px;
  text-decoration: none;
}

.authtor-socials-item:hover {
  text-decoration: none;
}

.article-image {
  padding-bottom: 54.7%;
  border-radius: 8px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-date {
  margin-top: 8px;
  color: #808185;
  display: flex;
  justify-content: space-between;
}

.article-authtor {
  display: none;
}

.article-overview {
  font-size: 20px;
  margin-top: 26px;
}

.article-inner {
  line-height: 1.5;
}

.article-content {
  margin-top: 23px;
  line-height: 1.65
}

.article-content p {
  margin-bottom: 13px;
}

.article-content blockquote {
  border: 16px solid #E5F0F2;
  box-sizing: border-box;
  border-radius: 36px;

  margin-top: 23px;
  margin-bottom: 24px;

  padding: 23px 21px 12px
}

.article-content blockquote h5 {
  font-weight: bold;
  margin-bottom: 11px;
}

.article-content blockquote p {
  margin-bottom: 8px
}

.article-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 15px;
}

.article-content > ul {
  margin: 19px 0 24px;
  padding: 0;

  list-style-type: none;
}

.article-content > ul > li {
  padding-left: 23px;
  margin-bottom: 12px;
  position: relative;
}

.article-content > ul > li::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;

  width: 5px;
  height: 5px;

  border-radius: 50%;

  background-color: var(--ocean);
}

.article-content > ul > li > ul {
  margin: 12px 0 0;
  padding: 0;
  list-style-type: none;
}

.article-content > ul > li > ul > li {
  padding-left: 26px;
  position: relative;
  margin-bottom: 12px;
}

.article-content > ul > li > ul > li::before {
  position: absolute;
  content: '';
  top: 13px;
  left: 2px;

  width: 7px;
  height: 1px;

  background-color: var(--ocean);
}

.article-share {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 29px;
  align-items: center;
}

.article-share-item {
  margin-right: 37px;
  position: relative;

  color: var(--black)
}

.article-share-item:hover {
  color: var(--black);
  text-decoration: none;
}

.share-count {
  position: absolute;
  content: '';
  top: -5px;
  right: -13px;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #d5d5d6;
  font-size: 12px;

  border-radius: 3px;
  
  line-height: 16px;
}

.article-show-comments {
  display: inline-flex;
  font-weight: 500;

  border: 2px solid #D5D5D6;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 18px;
  font-size: 14px;

  color: var(--black);

  transition: all .15s ease;
}

.article-show-comments:hover {
  text-decoration: none;
  color: white;
  background-color: var(--ocean);
  border-color: var(--ocean)
}

.side-authtor .authtor-photo {
  --box-size: 72px;
}

.side-authtor .authtor-info {
  padding-left: 24px;
  padding-top: 6px;
}

.authtor-posts {
  margin-top: 33px;
}

.authtor-posts-title {
  font-weight: bold;
  margin-bottom: 18px;
}

.authtor-posts-link {
  display: flex;
  margin-bottom: 21px;
}

.cols-2 {
  columns: 2;
}

.cols-1 {
  columns: 1;
}

.more-articles {
  margin-top: 22px;
}

.more-articles-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 22px;
}

.side-sticky {
  position: sticky;
  top: 15px;
  right: 0;
}

.modal-dialog-custom {
  max-width: 551px;
}

.modal-content-custom {
  border-radius: 10px;
  padding: 32px;
  border: none;
}

.modal-head {
  display: flex;
  justify-content: space-between;
}

.modal-heading {
  font-family: var(--navigo);
  font-size: 24px;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 15px 0 0;
  margin: 0;
}

.auth-soc-item {
  margin-right: 20px;
}

.comm-list {
  margin-top: 24px;
}

.comm-user {
  font-weight: bold;

  margin-right: 5px;
}

.comm-user:hover {
  text-decoration: none;
  color: var(--black)
}

.comm-head {
  color: #808185;
}

.comm-item {
  margin-bottom: 24px;
}

.comm-subitem {
  margin-top: 24px;
  padding-left: 24px;
}

.comm-item .comm-user {
  color: var(--black);
}

.comm-subitem .comm-user {
  color: var(--ocean);
}

.form-input {
  width: 100%;
  border: 1px solid #aaabad;
  resize: none;
  max-height: 80px;
  border-radius: 10px;
  padding: 8px 12px;

  font-weight: normal;
  font-size: 14px;

  margin-bottom: 15px;
}

.form-input::placeholder {
  color: #aaabad;
}

.leave-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-form {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.article-overview p {
  margin-bottom: 15px;
}

.article-picture {
  margin-top: 20px;
}

.article-picture-caption {
  padding-top: 12px;
  font-size: 14px;
}

.table th {
  font-weight: normal;
}

.table th:first-child,
.table td:first-child {
  color: #aaabad;
  font-weight: 500;
}

.table td,
.table th {
  width: 33.333333%;
  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid #E9EAEA;
  vertical-align: top;
}

.table {
  border-bottom: 1px solid #E9EAEA;
}

.table-slider {
  margin-top: 29px;
}

.table-nav-arrow path {
  fill: #c0c0c0;
}

.table-slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
}

.table-nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #f8f8f8;
  border-radius: 4px;
  opacity: 1;

  margin-right: 8px;

  cursor: pointer;
}

.table-nav-item:hover,
.table-nav-item.swiper-pagination-bullet-active {
  background-color: var(--ocean-bright) !important;
  color: #fff
}

.table-nav-item:hover .table-nav-arrow path {
  fill: #fff
}

.table-nav-item.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.search-block {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  margin-left: 573px;

  padding: 64px 0 40px 25px;

  background-color: #e9eaea;

  border-bottom-left-radius: 36px;
}

.search-form-input {
  width: 755px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d5d5d6;
  background-color: transparent;

  padding: 9px 15px 9px 33px;

  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.search-form-style {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d5d5d6;
  background-color: transparent;

  padding: 9px 15px 9px 33px;

  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.search-form-input::placeholder {
  color: #aaabad;
}

.search-close {
  position: absolute;
  top: 19px;
  left: 946px;
}

.responsive-block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 22px;
  padding-bottom: 24px;

  z-index: 3;

  background-color: #fff;

  padding-left: 15px;
  padding-right: 15px;

  transition: all .2s ease;
}

.responsive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsive-item {
  display: none;
}

.responsive-homepage-links {
  text-align: center;
  /* position: relative; */
  padding-top: 15px;
  margin-bottom: 15px;
}

.responsive-block::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: calc(50% - 52px);
  width: 104px;
  height: 1px;

  background-color: var(--black);
  opacity: 0.23;
}

.responsive-homepage-link {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 5px;
  color: var(--box-size);
  font-size: 16px;
}

.header-burger {
  width: 20px;
  height: 20px;
  position: relative;
}

.burger-line {
  position: absolute;
  left: 0;
  right: 0;

  height: 2px;

  background-color: var(--black);

  transition: all .2s ease;
}

.line-1 {
  top: 4px;
}

.line-2 {
  top: 9px;
}

.line-3 {
  top: 14px
}

.state-nav .line-1 {
  top: 50%;
  transform: rotate(135deg)
}

.state-nav .line-2 {
  opacity: 0;
}

.state-nav .line-3 {
  top: 50%;
  transform: rotate(-135deg)
}

.state-nav .responsive-block {
  background-color: var(--yellow);
}

.side-nav-wrap {
  transition: all .2s ease;
}

.responsive-heading {
  display: none;
  text-align: center;
  line-height: 1.2;

  margin-top: 30px;
}

.state-search .responsive-block {
  background-color: #E9EAEA;
}

.state-search .responsive-block::before {
  opacity: 0;
}

.search {
  display: none;
}

.responsive-search {
  width: 16px;
  height: 16px;
  display: flex;

  background-image: url(../images/search.svg);
}

.state-search .responsive-search {
  background-image: url(../images/search-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}