@media (max-width: 1024px) {
    .main-blog-posts {
        columns: unset;
        column-gap: unset;

        display: flex;
        flex-wrap: wrap;

        margin-left: -15px;
        margin-right: -15px;
    }

    .main-blog-posts .blog-post,
    .main-blog-posts .offer-post {
        flex: 0 0 50%;
        max-width: 50%;

        padding-left: 15px;
        padding-right: 15px;
    }

    .main-middle,
    .side-right {
        flex: 0 0 calc(100% - var(--sidebar-width) - var(--main-offset));
        max-width: calc(100% - var(--sidebar-width) - var(--main-offset));      
    }

    .side-right {
        margin-left: var(--sidebar-width);
    }

    .offer-post-inner {
        height: auto;
    }
}

@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .table th,
    .table td {
        padding-left: 5px;
        padding-right: 5px;
    }

    .search {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        bottom: 0;

        z-index: 4;
        background-color: #E9EAEA;

        padding: 15px;

        transition: all .2s ease;
    }

    .state-search .search {
        left: 0;
    }

    .article-heading {
        display: none;
    }

    .responsive-heading {
        display: block;
    }

    .responsive-block {
        display: block;
    }

    .article-authtor {
        display: block;
    }

    .section-heading {
        font-size: 24px;
    }

    .big-heading {
        padding-top: 31px;
        padding-bottom: 31px;
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        background-color: var(--ocean-light);
    }

    .row {
        flex-direction: column;
    }

    .breadcrumbs {
        display: none;
    }

    .side, .main, .side-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .side-right {
        margin-left: 0;
    }

    .side {
        position: relative;
        z-index: 5;
    }

    .section-heading {
        
    }

    .side-logo,
    .side-logo-footer {
        display: none;
    }

    .side-nav-wrap {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        right: 0;
        bottom: 0;
        background-color: var(--yellow);

        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;

        overflow-y: auto;
        padding-bottom: 30px;

        z-index: 4;
    }

    .state-nav .side-nav-wrap {
        left: 0;
    }

    .side-nav-link:hover::before, .side-nav-link.active::before {
        opacity: 0;
    }

    .side-nav {
        align-items: center;
    }

    .side-socials {
        margin-left: auto;
        margin-right: auto;
    }

    .side-nav-main .side-nav-link {
        font-size: 26px;
        font-weight: bold;
    }

    .search-btn {
        display: none;
    }

    .page-body {
        margin-top: 0;
    }

    body {
        padding-top: 70px;
    }

    .blog-title {
        display: block;
        text-align: center;

        margin-bottom: 15px;
        margin-top: 15px;
    }

    .table-nav-prev,
    .table-nav-next {
        display: none;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
        font-size: 0;
        line-height: 0;
        color: transparent;

        width: 8px;
        height: 8px;

        background-color: #B3E4EB;

        border-radius: 50%;

        margin-right: 12px;
    }

    .table-nav-item:hover, .table-nav-item.swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
    }

    .side-right .side-authtor {
        display: none;
    }

    .responsive-authtor .side-authtor {
        padding-top: 20px;
        padding-bottom: 0;

        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
    }

    .authors-subheading {
        display: none;
    }
}

@media (max-width: 480px) {
    .authtor-profile .authtor-item {
        flex-direction: column;
        align-items: unset;
    }

    .main-loading {
        height: 100px;
    }

    .page-footer {
        margin-top: 10px;
    }

    .article-show-comments {
        width: 100%;
        justify-content: center;
    }

    .article-share {
        justify-content: center;
    }

    .authtor-profile .authtor-info {
        padding-left: 0;
        text-align: center;
    }

    .authtor-profile .authtor-photo {
        flex: unset;
        max-width: none;
        width: var(--box-size);
        --box-size: 180px;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 30px;
    }

    .article-content > ul > li,
    .article-content > ul > li > ul > li {
        padding-left: 15px;
    }

    .auth-soc-item {
        margin-right: 10px;
    }

    .auth-soc-item:last-child {
        margin-right: 0;
    }

    .main-blog-posts .blog-post, .main-blog-posts .offer-post {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-pinned-post .blog-post-image {
        padding-bottom: 54.55%;
    }

    .main-footer-pages {
        display: none;
    }

    .page-footer {
        padding-top: 20px;
        padding-bottom: 20px;

        background-image: url(../images/logo-footer.svg);
        background-repeat: no-repeat;
        background-position: center 54%;
    }

    .main-footer-copyright {
        margin-top: 80px;
        text-align: center;
        font-size: 15px;
    }

    .main-footer-link {
        font-weight: 400;
        font-size: 16px;
        margin-right: 24px;
        margin-bottom: 5px;
    }

    .main-footer-link:first-child {
        margin-left: 24px;
    }

    .main-footer-link:last-child {
        margin-right: 0;
    }

    .main-footer-nav {
        justify-content: center;
    }

    .responsive-item {
        display: block;
    }
}

@media (max-width: 345px) {
    .main-footer-link {
        margin-right: 15px;
        font-size: 14px;
    }

    .main-footer-link:first-child {
        margin-left: 15px;
    }
}